<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PostLater</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="favicon.ico">

  <!-- Firebase
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
  <script src="script.js"></script>
</head>
<body>
  {% if page.navbar %}
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><h2 class="navbar-title">PostLater</h2></li>
        <li class="navbar-item"><a class="navbar-link" href="/panel">Panel</a></li>
        <li class="navbar-item"><button class="navbar-link" onclick="signOut();">Log Out</button></li>
      </ul>
    </div>
  </nav>
  {% endif %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if page.markdown %} <div class="container"> {% endif %}
  {{ content }}
  {% if page.markdown %} </div> {% endif %}
  
  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <small><a href="/pp">Privacy Policy</a></small>
    <small><a href="/tos">Terms of Service</a></small>
  </div>
</body>
</html>
